torch~=1.7.0
torchvision~=0.8.1
colorlog~=4.4.0
dill~=0.3.2
transformers~=2.1.1
torchtext~=0.7.0
dataclasses~=0.6
numpy~=1.18.4
tqdm~=4.46.0
matplotlib~=3.2.1
sklearn~=0.0
scikit-learn~=0.23.2
yaml~=0.2.4
pyyaml~=5.3.1
scipy~=1.5.4
pillow~=7.1.2
prompt_toolkit~=3.0.5
tensorboard~=2.3.0